*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.flex-container{
    height: 100vh;
}
.header{
    font-weight: 700;
    text-align: center;
}
.container{
    margin: 0 auto;
}
.btn{
    width: 100%;
}
.btn > button{
    width: 20%;
}

/* login form */
.form-control{
    border: 1px solid black;
}
/* admin-index.php */
/* .content {
    margin-left: 200px;
    padding: 20px;
} */
.theading{
    color: red;
}
